<!-- <div class="col-sm-4">
<div class="alert alert-dark cart">
  <a href="{{ product.get_absolute_url }}" class="alert-link title">{{ product.title }}.</a>
  <hr>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{product.description}}"></iframe>
  <p>Price: {{ product.price }} $</p>
  <p>Time uploaded: {{ product.time }}</p>
  <p>On Sale: {{ product.active }}</p>
</div>
</div> -->

<div class="col-sm-12 col-md-8 col-lg-4 " style="margin-bottom: 30px;">
	<div class="card" style="width: 18rem;">
		<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{product.description}}" class="card-img-top"></iframe>
	  <div class="card-body">
	    <a href="{{ product.get_absolute_url }}"><h5 class="card-title">{{ product.title | truncatewords:4 }}.</h5></a>
	    <p class="card-text">{{ product.time }}</p>
	    <p class="card-text">{{ product.price }} $$ 
	    	{% if product.active%} 
	    	On sale 
	    	{% endif %}
	    </p>
	    <a href="#" class="btn btn-primary">Purchase</a>
	  </div>
	</div>
</div> 